.headerContainer {
  background-color: #282c34;
  color: #fff;
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 1px solid #282c34;
}

.headerContainer p {
  margin-left: 2rem;
  padding: 0.25rem 0 0.25rem 2rem;
  border-left: 1px solid #dde0e8;
  font-size: 25px;
}

.headerContainer span {
  margin-left: auto;
  text-transform: capitalize;
  font-size: 25px;
}

.headerContainer img {
  height: 130px;
  width: 130px;
}